Repository FlatbreadLabs/flatbread, pull requests merged in 2022-08, with the labels that each got.

#35 Relational/post-resolved filtering via GraphQL subquery
  .npmrc
  README.md
  package.json
  packages/config/package.json
  packages/core/package.json
  packages/core/src/cache/cache.ts
  packages/core/src/cache/index.ts
  packages/core/src/generators/arguments.ts
  packages/core/src/generators/schema.ts
  packages/core/src/providers/base.ts
  packages/core/src/providers/test/base.test.ts
  packages/core/src/providers/test/snapshots/base.test.ts.md
  packages/core/src/providers/test/snapshots/base.test.ts.snap
  packages/core/src/resolvers/arguments.ts
  packages/core/src/types.ts
  packages/core/src/utils/stringUtils.ts
  packages/flatbread/README.md
  packages/flatbread/content/authors/me copy.md
  packages/flatbread/content/authors/me.md
  packages/flatbread/package.json
  packages/source-filesystem/README.md
  packages/source-filesystem/package.json
  packages/transformer-markdown/README.md
  packages/transformer-markdown/package.json
  packages/transformer-yaml/README.md
  packages/transformer-yaml/package.json
  playground/flatbread.config.js
  playground/package.json
  playground/svelte.config.js
  playground/vite.config.ts
  pnpm-lock.yaml
Labels: bug, gql-schema, core

#97 Force LF endings on Windows
  .gitattributes
Labels: CI / CD, tidying

#96 Exit the CLI with an error code if a child process errors out
  packages/flatbread/src/cli/runner.ts
Labels: bug, CLI

#95 Monorepo Symlinks
  README.md
  examples/content/README.md
  examples/content/markdown/authors/daes.md
  examples/content/markdown/authors/eva.md
  examples/content/markdown/authors/tony.md
  examples/content/markdown/authors/ushi.md
  examples/content/markdown/authors/yoshi.md
  examples/content/markdown/deeply-nested/test.md
  examples/content/markdown/posts/anotha-one.md
  examples/content/markdown/posts/art/test.md
  examples/content/markdown/posts/b.md
  examples/content/markdown/posts/category with space/test.md
  examples/content/markdown/posts/code/another-category-test.md
  examples/content/markdown/posts/example-post.md
  examples/content/markdown/posts/soup.md
  examples/content/yaml/authors/eva.yml
  examples/content/yaml/authors/me.yml
  examples/content/yaml/posts/anotha-one.yml
  examples/content/yaml/posts/example-post.yml
  examples/nextjs/content
  examples/nextjs/flatbread.config.ts
  examples/sveltekit/content
  packages/core/src/providers/test/base.test.ts
  packages/core/src/providers/test/snapshots/base.test.ts.md
  packages/core/src/providers/test/snapshots/base.test.ts.snap
Labels: tidying

#83 add field transform
  packages/core/src/errors.ts
  packages/core/src/generators/generateCollection.ts
  packages/core/src/generators/schema.ts
  packages/core/src/types.ts
  packages/core/src/utils/camelCase.ts
  packages/core/src/utils/initializeConfig.ts
  packages/core/src/utils/objectUtils.ts
  packages/core/src/utils/outdent.ts
  packages/core/src/utils/tests/outdent.test.ts
  packages/core/src/utils/tests/snapshots/transformKeys.test.ts.md
  packages/core/src/utils/tests/snapshots/transformKeys.test.ts.snap
  packages/core/src/utils/tests/transformKeys.test.ts
  packages/core/src/utils/transformKeys.ts
  packages/flatbread/README.md
Labels: config, core
